# Project 4: Wrangle, assess, clean and analyse twitter data - WeRateDogs


                            Christine Shuttleworth, 1st of October 2020



### Table of Contents
- [Introduction](#intro)
- [Part I - Data wrangling](#wrangling)
    - [Twitter Archive - load csv file](#load_csv)
    - [Twitter API - access and load data via Twitter API access](#twitter_api)
    - [Download and ingest neural network predictor data using requests](#requests)
- [Part II - Assess data](#assess)
    - [Visual assessment: data overview](#visual)
    - [Programmatic assessment:](#programmatic)
        - [Data structure:](#structure)
        - [Data quality:](#quality)
    - [Summary list of data issues:](#summary_issues)
        - [Tidyness issues:](#tidyness)
        - [Cleanliness issues:](#cleanliness)
- [Part III - Clean data and create twitter_archive_master.csv file](#clean)
    - [Define issue: x](#def1)
    - [Code issue: x](#code1)
    - [Test issue: x](#test1)
    - [Define issue: x](#def2)
    - [Code issue: x](#code2)
    - [Test issue: x](#test2)
    - [Define issue: x](#def3)
    - [Code issue: x](#code3)
    - [Test issue: x](#test3)
    - [Define issue: x](#def4)
    - [Code issue: x](#code4)
    - [Test issue: x](#test4)
- [Part IV - Analyse data](#clean)
    - [Insight 1: x](#insight1) Which type of dog is rated the most often and the highest?
    - [Insight 2: x](#insight2)
    - [Insight 3: x](#insight3)





<a id='intro'></a>
### Introduction 

For this report, I wrangled WeRateDogs Twitter data to create interesting and trustworthy data insights and visualizations of the dog rating twitter feed. 

The twitter data will be enhanced with information of likely breed of the dog being rated, based on images available in the tweets. This data originates from a neural network image prediction data set of types of dogs.

To achieve this, I createe a solid and clean master dataset. Possible questions to ask:
- Which dog type is being rated the most often and the hightest?

Based on the analysis I created two reports:

    wrangle_report.pdf - summary of my wrangling effort
    act_report.pdf - insights and visualisation of the findings as a magazine article or blog post

<a id='wrangling'></a>
### Part 1 - Data wrangling

Set up python environment

In [236]:
import pandas as pd
import numpy as np
import tweepy as tw
import requests
import config as cfg
import os
from pathlib import Path 
import json
from dotenv import load_dotenv
import re

%matplotlib inline
#%load_ext dotenv
#%dotenv

pd.options.display.max_rows = 999

<a id='load_csv'></a>
#### Load twitter_archive_enhanced.csv and learn about the data

In [191]:
df_ta = pd.read_csv('twitter-archive-enhanced.csv')

In [192]:
df_ta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

Columns:
1. tweet_id: twitter reference for this particular tweet
2. in_reply_to_status_id: twitter_id of tweet that was replied to. Tweets with NaN in this column are original tweets.
3. in_reply_to_user_id: user_id who wrote the reply 
4. timestamp: timestamp of the tweet
5. source: source of tweet - Twitter for iPhone, Vine - Make a Scene, Twitter Web Client, TweetDeck   
6. text: text of tweet: with hashtags and URL link to tweet.
7. retweeted_status_id: twitter_id of tweet that retweeted original tweet to. Tweets with NaN in this column were not retweeted.
8. retweeted_status_user_id: user_id who retweeted
9. retweeted_status_timestamp: timestamp of the retweet 
10. expanded_urls: full URL of the original tweet                
11. rating_numerator: rating of dog ...
12. rating_denominator: ... out of this number   
13. name: dog name   
14. doggo: flag if this dog falls into the doggo category
15. floofer: flag if this dog falls into the doggo category
16. pupper: flag if this dog falls into the doggo category
17. puppo: flag if this dog falls into the doggo category

In [193]:
df_ta.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,None,None,None

In [194]:
df_ta.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [278]:
#df_ta.query('in_reply_to_status_id != "NaN"')
#df_ta.query('retweeted_status_id != "NaN"')
df_ta.query('doggo != "None"').head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Cassie. She is a college pup. Studying international doggo communication and stick theory. 14/10 so elegant much sophisticate https://t.co/t1bfwz5S2A,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255349198849/photo/1,14,10,Cassie,doggo,None,None,None
43,884162670584377345,NaN,NaN,2017-07-09 21:29:42 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Yogi. He doesn't have any important dog meetings today he just enjoys looking his best at all times. 12/10 for dangerously dapper doggo https://t.co/YSI00BzTBZ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/884162670584377345/photo/1,12,10,Yogi,doggo,None,None,None
99,872967104147763200,NaN,NaN,2017-06-09 00:02:31 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here's a very large dog. He has a date later. Politely asked this water person to check if his breath is bad. 12/10 good to go doggo https://t.co/EMYIdoblMR,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/872967104147763200/photo/1,https://twitter.com/dog_rates/status/872967104147763200/photo/1",12,10,None,doggo,None,None,None
108,871515927908634625,NaN,NaN,2017-06-04 23:56:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Napolean. He's a Raggedy East Nicaraguan Zoom Zoom. Runs on one leg. Built for deception. No eyes. Good with kids. 12/10 great doggo https://t.co/PR7B7w1rUw,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/871515927908634625/photo/1,https://twitter.com/dog_rates/status/871515927908634625/photo/1",12,10,Napolean,doggo,None,None,None
110,871102520638267392,NaN,NaN,2017-06-03 20:33:19 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Never doubt a doggo 14/10 https://t.co/AbBLh2FZCH,NaN,NaN,NaN,https://twitter.com/animalcog/status/871075758080503809,14,10,None,doggo,None,None,None

In [196]:
df_ta.text[9]

'This is Cassie. She is a college pup. Studying international doggo communication and stick theory. 14/10 so elegant much sophisticate https://t.co/t1bfwz5S2A'

<a id='twitter_api'></a>
#### Request data from the twitter API and load it into a dataframe

Use twitter ID to request retweet count and favourite count.

https://developer.twitter.com/en/docs/labs/tweets-and-users/quick-start/get-tweets

In [115]:
#using .env file and python-dotenv to keep access token safe
#pip install -U python-dotenv

#import os
#from pathlib import Path  # Python 3.6+ only
env_path = Path('.') / '.env'
load_dotenv(dotenv_path=env_path)

consumer_key = os.getenv("TWAPIKEY")
consumer_secret = os.getenv("TWAPISECRETKEY")

#use tweepy to access twitter API with OAuth2

auth = tw.AppAuthHandler(consumer_key, consumer_secret)

#Other option to store passkey safely:
#1. could use a python .config file and the config library to store access token e.g. with wikiart API
#response = requests.get(f'https://www.wikiart.org/en/Api/2/login?accessCode={cfg.twitter['api_key']}&secretCode={cfg.twitter['api_secret_key']')

#2. secure storage of access details with yaml
#import yaml

#with open("config.yml", 'r') as ymlfile:
#    cfg = yaml.safe_load(ymlfile)

#print(cfg[api_creds'access_code'])
#print(cfg[api_creds'secret_code'])

#3.using magic command to access variables in .env
#%env
##Get, set, or list environment variables.

##Usage:

#%env: lists all environment variables/values 
#%env var: get value for var 
#%env var val: set value for var 
#%env var=val: set value for var 
#%env var=$val: set value for var, 
    
##using python expansion if possible

In [57]:
#Access tweets by tweet_id using .get_status() to extract favourites_count, retweet_count and write to csv file
#api.get_status('749075273010798592')._json['retweet_count']

api = tw.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

with open('twitter_retweet_favorite_count.csv', 'a') as file:
    file.write('tweet_id, retweet_count, favorite_count \n')
        
    for i in df_ta['tweet_id']:
        try:
            json_resp = api.get_status(i)
            rt_count=json_resp._json['retweet_count']
            f_count=json_resp._json['favorite_count']
            file.write(f'{i}'+','+f'{rt_count}'+','+f'{f_count}'+'\n')
        except tweepy.TweepError:
            file.write(f'{i}'+',,\n')

Rate limit reached. Sleeping for: 316
Rate limit reached. Sleeping for: 534

In [197]:
df_tapi = pd.read_csv('twitter_retweet_favorite_count.csv')

In [198]:
df_tapi.head()
df_tapi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tweet_id          2356 non-null   int64
 1    retweet_count    2331 non-null   float64
 2    favorite_count   2331 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 55.3 KB

In [199]:
## I could also write the json as text one line per tweet into a text file and extract the data later. Will do this do extract more information than we already have
## and possible missing information such as missing extended urls. 

api = tw.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

with open('tweet_json.txt', 'a') as file:
        
    for i in df_ta['tweet_id']:
        try:
            api_resp = api.get_status(i)
            json.dump(api_resp._json, file)
            file.write('\n')
           
        except tw.TweepError:
            pass

KeyboardInterrupt:

In [279]:
import re
j=0

df_json = pd.DataFrame(columns = ['twitter_id', 'favorite_count', 'retweet_count','hashtags','jpg_url', 'expanded_url'])

with open ('tweet_json.txt', 'r') as file:
    for line in file:
        json_line = file.readline()
        tw_json = json.loads(json_line)
        
        j+=1
        
        try:
            try:
                hashtags = tw_json['entities']['hashtags'][0]['text']
            except IndexError:
                hashtags = np.nan
                
            jpg_url = tw_json['entities']['media'][0]['url']
            expanded_url = tw_json['extended_entities']['media'][0]['expanded_url']


            df_json = df_json.append({'twitter_id':tw_json['id'], 'favorite_count':tw_json['favorite_count'], 'retweet_count':tw_json['retweet_count'], \
                                 'hashtags':hashtags,'jpg_url':jpg_url, 'expanded_url':expanded_url}, ignore_index=True)
        
        except KeyError:
            try:
                df_json = df_json.append({'twitter_id':tw_json['id'], 'favorite_count':tw_json['favorite_count'], 'retweet_count':tw_json['retweet_count'], \
                                 'hashtags':hashtags,'expanded_url':expanded_url}, ignore_index=True)
            except KeyError:
                try:
                    df_json = df_json.append({'twitter_id':tw_json['id'], 'favorite_count':tw_json['favorite_count'], 'retweet_count':tw_json['retweet_count']}, ignore_index=True)
                except KeyError:
                    df_json = df_json.append({'twitter_id':tw_json['id']},ignore_index=True)
        
print(j)                                                
                       
#strip end of text after dataframe has been build.
#df_json.text = df_json['text'].replace(r'\d?\d\/10\s\w.*', '', inplace = True, regex=True)

1127

In [280]:
df_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1127 entries, 0 to 1126
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   twitter_id      1127 non-null   object
 1   favorite_count  1127 non-null   object
 2   retweet_count   1127 non-null   object
 3   hashtags        8 non-null      object
 4   jpg_url         847 non-null    object
 5   expanded_url    1127 non-null   object
dtypes: object(6)
memory usage: 53.0+ KB

This dataset has a lot fewer entries than the the df_api dataset. Not sure why the json dump method return fewer ids than the method where I extract the variables from json during the Api call and write to csv file.

<a id='requests'></a>
#### Request data from URL and load .tsv file into dataframe

In [86]:
url='https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)
#response.content

with open('image-predictions.tsv', 'wb') as file:
    file.write(response.content)

df_pre = pd.read_csv('image-predictions.tsv', delimiter='\t')

In [98]:
df_pre.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

<a id='assess'></a>
### Part 2 - Assess Data

<a id='visual'></a>
#### Visual assessment: Data overview

I have three dataframes that all link together with the tweed_id. 

Some of the columns look redundant, such as expanded twitter url. Need to check if the expansion is always the same. If yes the expanced url can be arrived at using the tweed_id. This information does not have to be stored in a column as this takes up unnecessary space.

Other columns that are not necessary are the probability columns for the second and third best predicitons. I am only interested in the best prediction of the dog type that is actually a dog.

The twitter archive dataframe - df_ta - includes columns that indicate if the tweet was a reply or not (in_reply_to_status_id, in_reply_to_user_id). These columns can be used to filter out any tweets that are not original posts and then the columns can be deleted.

<a id='programmatic'></a>
#### Programmatic assessment

In [91]:
df_ta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [99]:
df_tapi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tweet_id          2356 non-null   int64
 1    retweet_count    2331 non-null   float64
 2    favorite_count   2331 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 55.3 KB

In [100]:
df_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

<a id='structure'></a>
#### Data structure: Tidyness issues

**Issue 1:** in_reply_to_status, in_reply_to_user_id. Use columns to drop rows that are replies and not original ids and delete both columns.

**Issue 2:** Find best prediction for each dog that is actually a dog and store it in a column. Merge this and the image_url column with df_ta dataframe. All other columns are redundant.

**Issue 3:** Merge df_tapi columns with df_ta dataframe on the tweed_id column. Delete df_tapi dataframe

**Issue 4:** Doggo, Floofer, Pupper, Puppo columns need to be melted into one column - dog_age_category: which contains the category which is correct for the dog.

<a id="quality"></a>
#### Data quality:

**Issue 1:** suspicious rating_numerators (< 8 and > 15)

In [107]:
df_ta.rating_numerator.value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

**Issue 2:** suspicious denominator values. Especially 110, 120, etc. which most likely have been read in with a zero too much.

In [108]:
df_ta.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

**Issue 3:** df_ta: wrong datatypes (retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp
         df_tapi: retweet_count, favorite_count

**Issue 4:** Source should be a categorical column as there are only 4 options: 
<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11

Should be stored as: 'Twitter for iPhone', 'Vine - Make a Scene', 'Twitter Web Client', 'TweetDeck'. The href for these categories can be stored elsewhere.

**Issue 5**: Image url is stored twice? End of text and in df_pre?

**Issue 6:** Missing value in expanded_url column. This data is stored in the json file and can be extracted to be added. Maybe add more interesting data that is missing.

**Issue 7:** More then one variable stored in the df_ta.text column. Removes #tags, urls and ratings from text as these can be store or are stored in other columns. Two different urls are saved for the tweet. Once in the df_ta.text column and once in df_pr.jpg_id. The rating are stored in two separate columns: df_ta.denominator and df_ta.numerator. Endresult: the text col only contains the text.

In [150]:
df_ta[df_ta.text.str.contains('#')].text.count()

27

In [163]:
df_ta[df_ta.text.str.contains('https:')].text.count()

2284

In [162]:
#df_ta.text[12]
df_ta.query('tweet_id == 892420643555336193').text[0]

"This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU"

In [179]:
pd.options.display.max_colwidth=500
df_ta.query('tweet_id == 871102520638267392').expanded_urls ##the /photo/1 does not work. This url returns the tweet itself.

110    https://twitter.com/animalcog/status/871075758080503809
Name: expanded_urls, dtype: object

**Issue 8:** Check dog names count_values. Wrong dog names (a, the, one, quite, mad, not, 0, life, space, this, by, officially, old, his, such, inacceptable, my, all, incredibly. See if I can restore these names from the text or read them in again with json.

In [182]:
df_ta.name.value_counts()

None              745
a                  55
Charlie            12
Cooper             11
Lucy               11
Oliver             11
Penny              10
Tucker             10
Lola               10
Winston             9
Bo                  9
the                 8
Sadie               8
Bailey              7
Daisy               7
Toby                7
Buddy               7
an                  7
Koda                6
Leo                 6
Rusty               6
Bella               6
Jack                6
Scout               6
Stanley             6
Milo                6
Dave                6
Oscar               6
Jax                 6
Alfie               5
very                5
Sunny               5
Phil                5
Oakley              5
Sammy               5
Louis               5
Larry               5
Finn                5
Bentley             5
George              5
Gus                 5
Chester             5
Gerald              4
Clark               4
Shadow              4
Brody               4
Bear                4
Cassie              4
one                 4
Loki                4
Reginald            4
Ruby                4
Carl                4
Luna                4
Derek               4
Maddie              4
Chip                4
Bruce               4
Sampson             4
just                4
Winnie              4
Boomer              4
Gary                4
Riley               4
Reggie              4
Dexter              4
Sophie              4
quite               4
Beau                4
Maggie              4
Moose               4
Archie              4
Walter              4
Jeffrey             4
Duke                4
Scooter             4
Maximus             4
Clarence            4
Hank                4
Jerry               4
Vincent             3
Mia                 3
Zoey                3
Reese               3
Sebastian           3
Earl                3
Louie               3
Ellie               3
Olive               3
Jimothy             3
Doug                3
Gizmo               3
Colby               3
Steven              3
Otis                3
Nala                3
Waffles             3
Max                 3
Lily                3
Paisley             3
Peaches             3
Lorenzo             3
Kyle                3
Ted                 3
Coco                3
Zeke                3
Wyatt               3
Klevin              3
Wallace             3
Malcolm             3
Calvin              3
Rory                3
Arnie               3
Frankie             3
Rosie               3
Wilson              3
Samson              3
Aspen               2
Axel                2
Astrid              2
Hunter              2
Oliviér             2
Sarge               2
Kenneth             2
Sierra              2
Jackson             2
Roosevelt           2
Cody                2
Trooper             2
mad                 2
Stephan             2
getting             2
Cash                2
Coops               2
Harper              2
Baxter              2
Bob                 2
not                 2
Chompsky            2
Bisquick            2
Jiminy              2
Ozzy                2
Harold              2
Raymond             2
Remington           2
Hurley              2
Titan               2
Betty               2
Nelly               2
Pablo               2
Dakota              2
Nollie              2
Fizz                2
Leela               2
Rizzy               2
Dash                2
Romeo               2
Balto               2
Kirby               2
Hammond             2
Klein               2
Opal                2
Olivia              2
Levi                2
Hobbes              2
Lincoln             2
Fred                2
Abby                2
Maxaroni            2
Belle               2
Wally               2
Pippa               2
Crystal             2
Mattie              2
Lilly               2
Griffin             2
Neptune             2
Kevin               2
Philbert            2
Kreggory            2
Happy               2
Lenny               2
Gabe                2
Benedict            2
actually            2
Keurig              2
Sansa               2
Kyro                2
Cupcake             2
Eve                 2
Dawn                2
Jeph                2
Anakin              2
Carly               2
Herschel            2
Kreg                2
Oshie               2
Bungalo             2
Chelsea             2
Luca                2
Rubio               2
Logan               2
Canela              2
Odie                2
Rufus               2
Gromit              2
Moe                 2
Albert              2
Flávio              2
Terry               2
Elliot              2
Charles             2
Watson              2
Mister              2
Lennon              2
Gidget              2
Quinn               2
Atlas               2
Phineas             2
Curtis              2
Panda               2
Emmy                2
Patrick             2
Moreton             2
Pickles             2
Eli                 2
Fiona               2
Solomon             2
Alice               2
Tyrone              2
Penelope            2
Albus               2
Indie               2
Herm                2
Percy               2
Timison             2
Marley              2
Terrance            2
Smokey              2
Rocco               2
Lou                 2
Ollie               2
Herald              2
Jimison             2
Thumas              2
Theodore            2
Jamesy              2
Sandy               2
Meyer               2
Brad                2
Yogi                2
Hercules            2
Churlie             2
Piper               2
Benji               2
Shaggy              2
Tyr                 2
Cali                2
CeCe                2
Bernie              2
Bell                2
Bubbles             2
Sam                 2
Finley              2
Seamus              2
Davey               2
Keith               2
Ken                 2
Blitz               2
Juno                2
Baloo               2
Atticus             2
Pipsy               2
Django              2
Butter              2
Rocky               2
Linda               2
Layla               2
Doc                 2
Misty               2
Paull               2
Sugar               2
Franklin            2
Ash                 2
Stubert             2
Jesse               2
Frank               2
Chuckles            2
Phred               2
Calbert             2
Kenny               2
Ava                 2
Chipson             2
Kilo                2
Chet                2
O                   1
Eazy                1
Jerome              1
Jordy               1
Stefan              1
Chuq                1
Snicku              1
Skittles            1
Aiden               1
Kota                1
Ralpher             1
Bobby               1
Dietrich            1
Mojo                1
Sprinkles           1
Kaiya               1
Jeb                 1
Rose                1
Wishes              1
Marty               1
Halo                1
Andru               1
Gustav              1
Dixie               1
Mya                 1
Noosh               1
Mark                1
Kobe                1
Batdog              1
Finnegus            1
Karl                1
Godi                1
Cupid               1
Geno                1
Bloo                1
Cilantro            1
Rascal              1
Julio               1
Evy                 1
Josep               1
life                1
Anthony             1
Dudley              1
Tedders             1
Sailer              1
Bertson             1
Meatball            1
Petrick             1
Poppy               1
Ridley              1
Dunkin              1
Tove                1
Gustaf              1
Nigel               1
Sage                1
Marvin              1
Lassie              1
light               1
Socks               1
Lorelei             1
Rontu               1
Timofy              1
Aubie               1
Ed                  1
Charleson           1
Hanz                1
Chevy               1
Gunner              1
Vince               1
Craig               1
Beckham             1
Mo                  1
Mason               1
Coopson             1
Crouton             1
Zoe                 1
Sweet               1
Heinrich            1
Liam                1
Brudge              1
Ziva                1
Mutt                1
Scruffers           1
Holly               1
Sully               1
Tycho               1
space               1
this                1
Toffee              1
Newt                1
Jebberson           1
Cheesy              1
Winifred            1
Chuck               1
Zeus                1
Amy                 1
Longfellow          1
Miguel              1
Tuco                1
Flash               1
Brat                1
Tassy               1
Vinnie              1
Arlen               1
Meera               1
Zooey               1
Steve               1
Sandra              1
Randall             1
Huck                1
William             1
Baron               1
Jeremy              1
Koko                1
Lilli               1
Striker             1
Gilbert             1
Moofasa             1
Jo                  1
Pawnd               1
Tommy               1
Devón               1
Jett                1
Millie              1
Puff                1
Tonks               1
Deacon              1
Marq                1
Kollin              1
Todo                1
Lacy                1
Mollie              1
Dale                1
Asher               1
Geoff               1
Chef                1
Akumi               1
Shnuggles           1
Biden               1
Bones               1
Mingus              1
Reptar              1
Samsom              1
Rey                 1
Roscoe              1
Gordon              1
Pepper              1
Noah                1
Blakely             1
Katie               1
Theo                1
Sora                1
Pupcasso            1
Nugget              1
Mack                1
Pancake             1
Monty               1
Shiloh              1
Kuyu                1
Jiminus             1
Tom                 1
Pavlov              1
Al                  1
Sweets              1
Kellogg             1
Ruffles             1
Alf                 1
Carper              1
Lupe                1
Jaycob              1
Zuzu                1
Barney              1
Rufio               1
Brian               1
Dook                1
Anna                1
Traviss             1
Shelby              1
Diogi               1
Doobert             1
Gert                1
Fillup              1
Durg                1
Scott               1
Jangle              1
Hubertson           1
Barry               1
Rodney              1
Alfy                1
Sparky              1
Benny               1
Storkson            1
Bradlay             1
Banditt             1
Tug                 1
Eugene              1
Acro                1
Rizzo               1
Claude              1
Yoda                1
Stuart              1
Filup               1
Sundance            1
Blu                 1
Mona                1
Danny               1
Raphael             1
Laela               1
Dewey               1
Lucky               1
Herb                1
Shooter             1
Tebow               1
Grizzie             1
Rambo               1
by                  1
Taco                1
Sephie              1
Bruiser             1
Stewie              1
BeBe                1
Sonny               1
Caryl               1
Stark               1
Farfle              1
Kona                1
Maxwell             1
Tanner              1
Tobi                1
Clifford            1
Ronnie              1
Laika               1
Jessiga             1
Cuddles             1
Lili                1
Strudel             1
Stormy              1
DonDon              1
Christoper          1
Terrenth            1
Ralphie             1
Duddles             1
Nico                1
Griswold            1
Rudy                1
Blanket             1
Berb                1
Sprout              1
Ralphy              1
Harlso              1
Andy                1
Oreo                1
Karll               1
Mabel               1
Vinscent            1
Wesley              1
Monkey              1
Jeffri              1
Schnozz             1
Torque              1
Florence            1
Amélie              1
Fletcher            1
Nida                1
Brownie             1
Obi                 1
Gerbald             1
officially          1
Leonidas            1
Pherb               1
Travis              1
Jimbo               1
Augie               1
Bluebert            1
Carbon              1
Shadoe              1
Jareld              1
Jackie              1
Pete                1
Bobb                1
Tiger               1
Adele               1
Suki                1
Smiley              1
Vixen               1
Kanu                1
Sid                 1
Harrison            1
old                 1
Patch               1
Arnold              1
Enchilada           1
Skittle             1
Brooks              1
Alexanderson        1
Pubert              1
Cermet              1
Jessifer            1
Kane                1
Mosby               1
Rueben              1
Mitch               1
Ginger              1
Hamrick             1
Remus               1
Odin                1
Spanky              1
Hall                1
Daniel              1
Staniel             1
Brandi              1
Remy                1
Rinna               1
Ozzie               1
Barclay             1
Kirk                1
Bronte              1
Naphaniel           1
Miley               1
Rodman              1
Emmie               1
Bubba               1
Kenzie              1
Mairi               1
Carter              1
Crumpet             1
Bilbo               1
Mimosa              1
Bradley             1
Humphrey            1
his                 1
such                1
Ralph               1
Cora                1
Lipton              1
Pip                 1
Rupert              1
Marlee              1
Fiji                1
Hero                1
DayZ                1
Autumn              1
Loomis              1
Malikai             1
Iggy                1
Pluto               1
unacceptable        1
Monster             1
Harry               1
Kulet               1
Shawwn              1
Jaspers             1
Snoop               1
Bode                1
Milky               1
Dutch               1
Joshwa              1
Willie              1
Darla               1
Bookstore           1
Kathmandu           1
Dug                 1
Spencer             1
Schnitzel           1
Emma                1
Chesterson          1
Goliath             1
Cheryl              1
Ashleigh            1
Spark               1
Shikha              1
Horace              1
Bloop               1
Jockson             1
Colin               1
Brockly             1
Ito                 1
Emanuel             1
Chesney             1
Glacier             1
Frönq               1
Ralf                1
Jay                 1
Bert                1
Gin                 1
Billl               1
Beemo               1
Buddah              1
Ole                 1
Tito                1
Angel               1
Grizzwald           1
Thor                1
Ivar                1
Furzey              1
Apollo              1
Timber              1
Cecil               1
Chase               1
my                  1
Fido                1
Mookie              1
Pippin              1
Stu                 1
Derby               1
Darrel              1
Dido                1
Hazel               1
Boston              1
Karma               1
Tessa               1
Bobble              1
Willy               1
Flurpson            1
Mauve               1
Swagger             1
Severus             1
Chadrick            1
Aldrick             1
Jameson             1
Mike                1
Jed                 1
Einstein            1
Banjo               1
Clyde               1
Trigger             1
Dot                 1
Lance               1
Lugan               1
Lillie              1
Blue                1
Jarvis              1
Buckley             1
Coleman             1
Rhino               1
Taz                 1
Ralphson            1
Godzilla            1
Robin               1
Bruno               1
Fynn                1
Howie               1
Aqua                1
Covach              1
Rumpole             1
Harvey              1
Dotsy               1
Freddery            1
Brandy              1
Franq               1
all                 1
Rumble              1
Lilah               1
Beebop              1
Jazz                1
Snoopy              1
Arya                1
Tess                1
incredibly          1
Michelangelope      1
Jarod               1
Kody                1
Arlo                1
Reagan              1
Trip                1
Cedrick             1
Butters             1
Lambeau             1
Boots               1
Kevon               1
Saydee              1
General             1
Superpup            1
Timmy               1
Siba                1
Jim                 1
Cannon              1
Kallie              1
Charl               1
Bonaparte           1
JD                  1
Tayzie              1
Snickers            1
Chaz                1
Opie                1
Crimson             1
Edgar               1
Ralphus             1
Stephanus           1
Binky               1
Divine              1
Jonah               1
Ricky               1
Bodie               1
Izzy                1
Walker              1
Eriq                1
Dobby               1
Ralphé              1
Julius              1
Molly               1
Ambrose             1
Tino                1
Creg                1
Grey                1
Jeffrie             1
Livvie              1
Napolean            1
Jomathan            1
Bauer               1
Iroh                1
Kloey               1
Champ               1
Maude               1
Ebby                1
Strider             1
Sojourner           1
Pumpkin             1
Olaf                1
Clarq               1
Lulu                1
Margo               1
Fwed                1
Tedrick             1
Keet                1
Trevith             1
Tupawc              1
Link                1
Bobbay              1
Sunshine            1
Jersey              1
Billy               1
Huxley              1
Eevee               1
Dante               1
Lucia               1
Mac                 1
Alexander           1
Ulysses             1
Peanut              1
Donny               1
Norman              1
Pilot               1
Pinot               1
Obie                1
Kawhi               1
Berkeley            1
Dylan               1
Lolo                1
Maya                1
Alejandro           1
Oddie               1
Brutus              1
Yukon               1
Teddy               1
Harnold             1
Blipson             1
Ember               1
Tyrus               1
Birf                1
Kramer              1
Nimbus              1
Grady               1
Gabby               1
Ferg                1
Brady               1
Kaia                1
Hermione            1
Tater               1
Linus               1
Simba               1
Luther              1
Wafer               1
Rooney              1
Orion               1
Ron                 1
Lizzie              1
Hector              1
Glenn               1
Henry               1
Dwight              1
Zara                1
Leonard             1
Willow              1
Jennifur            1
Mary                1
Antony              1
Rolf                1
Crawford            1
Comet               1
Dex                 1
Tilly               1
Murphy              1
Aja                 1
Rilo                1
Chloe               1
Venti               1
Philippe            1
Clarkus             1
Corey               1
Grizz               1
Rorie               1
Eleanor             1
Tango               1
Duchess             1
Bowie               1
Bayley              1
Richie              1
Sailor              1
Kendall             1
Major               1
Combo               1
Zeek                1
Amber               1

**Issue 9:** The df_ta.text contains sometimes two dogs and only one name is stored but both dog categories. Or it refers to two categories of dogs, e.g. doggo 1, pupper 0. Where both categories are set to true.

In [184]:
df_ta.query('doggo == "doggo" and pupper =="pupper"')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
460,817777686764523521,NaN,NaN,2017-01-07 16:59:28 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Dido. She's playing the lead role in ""Pupper Stops to Catch Snow Before Resuming Shadow Box with Dried Apple."" 13/10 (IG: didodoggo) https://t.co/m7isZrOBX7",NaN,NaN,NaN,https://twitter.com/dog_rates/status/817777686764523521/video/1,13,10,Dido,doggo,None,pupper,None
531,808106460588765185,NaN,NaN,2016-12-12 00:29:28 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have Burke (pupper) and Dexter (doggo). Pupper wants to be exactly like doggo. Both 12/10 would pet at same time https://t.co/ANBpEYHaho,NaN,NaN,NaN,https://twitter.com/dog_rates/status/808106460588765185/photo/1,12,10,None,doggo,None,pupper,None
565,802265048156610565,7.331095e+17,4.196984e+09,2016-11-25 21:37:47 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Like doggo, like pupper version 2. Both 11/10 https://t.co/9IxWAXFqze",NaN,NaN,NaN,https://twitter.com/dog_rates/status/802265048156610565/photo/1,11,10,None,doggo,None,pupper,None
575,801115127852503040,NaN,NaN,2016-11-22 17:28:25 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Bones. He's being haunted by another doggo of roughly the same size. 12/10 deep breaths pupper everything's fine https://t.co/55Dqe0SJNj,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/801115127852503040/photo/1,https://twitter.com/dog_rates/status/801115127852503040/photo/1",12,10,Bones,doggo,None,pupper,None
705,785639753186217984,NaN,NaN,2016-10-11 00:34:48 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Pinot. He's a sophisticated doggo. You can tell by the hat. Also pointier than your average pupper. Still 10/10 would pet cautiously https://t.co/f2wmLZTPHd,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/785639753186217984/photo/1,https://twitter.com/dog_rates/status/785639753186217984/photo/1",10,10,Pinot,doggo,None,pupper,None
733,781308096455073793,NaN,NaN,2016-09-29 01:42:20 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine - Make a Scene</a>","Pupper butt 1, Doggo 0. Both 12/10 https://t.co/WQvcPEpH2u",NaN,NaN,NaN,https://vine.co/v/5rgu2Law2ut,12,10,None,doggo,None,pupper,None
778,775898661951791106,NaN,NaN,2016-09-14 03:27:11 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","RT @dog_rates: Like father (doggo), like son (pupper). Both 12/10 https://t.co/pG2inLaOda",7.331095e+17,4.196984e+09,2016-05-19 01:38:16 +0000,"https://twitter.com/dog_rates/status/733109485275860992/photo/1,https://twitter.com/dog_rates/status/733109485275860992/photo/1",12,10,None,doggo,None,pupper,None
822,770093767776997377,NaN,NaN,2016-08-29 03:00:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is just downright precious af. 12/10 for both pupper and doggo https://t.co/o5J479bZUC,7.410673e+17,4.196984e+09,2016-06-10 00:39:48 +0000,"https://twitter.com/dog_rates/status/741067306818797568/photo/1,https://twitter.com/dog_rates/status/741067306818797568/photo/1",12,10,just,doggo,None,pupper,None
889,759793422261743616,NaN,NaN,2016-07-31 16:50:42 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Meet Maggie &amp; Lila. Maggie is the doggo, Lila is the pupper. They are sisters. Both 12/10 would pet at the same time https://t.co/MYwR4DQKll",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/759793422261743616/photo/1,https://twitter.com/dog_rates/status/759793422261743616/photo/1",12,10,Maggie,doggo,None,pupper,None
956,751583847268179968,NaN,NaN,2016-07-09 01:08:47 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Please stop sending it pictures that don't even have a doggo or pupper in them. Churlish af. 5/10 neat couch tho https://t.co/u2c9c7qSg8,NaN,NaN,NaN,https://twitter.com/dog_rates/status/751583847268179968/photo/1,5,10,None,doggo,None,pupper,None
1063,741067306818797568,NaN,NaN,2016-06-10 00:39:48 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is just downright precious af. 12/10 for both pupper and doggo https://t.co/o5J479bZUC,NaN,NaN,NaN,https://twitter.com/dog_rates/status/741067306818797568/photo/1,12,10,just,doggo,None,pupper,None
1113,733109485275860992,NaN,NaN,2016-05-19 01:38:16 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Like father (doggo), like son (pupper). Both 12/10 https://t.co/pG2inLaOda",NaN,NaN,NaN,https://twitter.com/dog_rates/status/733109485275860992/photo/1,12,10,None,doggo,None,pupper,None

### Appendix:

Secure authorisation key outside of notebook:

http://veekaybee.github.io/2020/02/25/secrets/

https://pypi.org/project/python-dotenv/

http://docs.tweepy.org/en/latest/getting_started.html#api